{% extends 'templates/base/base.html' %}
{% block content %}
<h2>Customer List</h2>

<table border="1" cellpadding="10" cellspacing="0">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Cluster</th>
            <th>Block</th>
            <th>District</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for customer in customers %}
        <tr>
            <td>{{ customer.nameOfOrganization }}</td>
            <td>{{ customer.address }}</td>
            <td>{{ customer.cluster.name }}</td>
            <td>{{ customer.block }}</td>
            <td>{{ customer.district }}</td>
            <td>
                <a href="{% url 'edit_customer' customer.pk %}">Edit</a> |
                <a href="{% url 'delete_customer' customer.pk %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
