  <!-- Page 3 -->
  <div class="page">
    <h2>Vijay Chandrakar & Co.</h2>
    <hr>
    <h4 style="text-align:left;padding-left:20px">Chartered Accountants</h4>
    


    <div class="content">
    <h3 style="text-align:center;position: absolute;padding-top:40px;padding-left:280px;padding-top:60px; ">ANNEXURE “I” TO THE AUDITORS REPORT <br>
            {{audit.customer.nameOfOrganization}}  <br>
            {{audit.customer.address}}, {{year1}} <br>
            CHHATTISGARH 
            
            
    </h3>


    <h4 style="text-align:center;position: absolute;padding-top:100px;padding-top:130px; ">1.Observations</h4>
      <p style="text-align:center;position: absolute;padding-top:120px;padding-top:150px; ">1.1 CEF Loan amounting to Rs. 5.35 lakh was directly transferred from the District office, Gariaband, or 
        Janpad office to SHG’s during the FY 20{{year1}}. This amount was recorded in the books of the cluster 
        as receipt and same amount was shown in payment side as CEF Loan amount disbursed. These 
        amounts are subject to reconciliation.</p>
      <p> {{audit.obeservations}}</p> 
     
    </div>
    <div class="signature"  style="position: absolute;bottom: 120px; width : 90%;">
        
            <table style="width: 100%; border: none; border-collapse: collapse;">
              <tr>
                  <td style="text-align: left;border: none;"><br><br><br><br><br>
                  </td>
              
                  <td style="text-align: right;border: none;">
                  <h3>For' VIJAY CHANDRAKAR & CO.</h3>
                  (Chartered Accountants)<br>
                  <h3>F.R.N. 029323C</h3></td>
              </tr>
            </table>



    
          <table style="width: 100%; border: none; border-collapse: collapse;">
              <tr >
                  <td style="text-align: left;border: none;padding-left:40px;">
                      Place: Gariaband<br>
                      Date : {{audit.date}} <br>
                  </td>
              </div>

              <td style="text-align: right;border: none;">
                
                      <h3>CA Vijay Chandrakar</h3>
                      Proprietor <br>
                      <h2>M.No. 444225 </h2>
                      <h2>UDIN: {{audit.Udin}} </h2><br>

                  </td>
              </tr>
          </table>

      </div>
      <hr>
      <h2 style="text-align:center;position: absolute;bottom: 50px;padding-left: 240px;">Near SBI, Main Road Gariaband, Gariaband (C.G.)</h2>
      <h5 style="text-align:center;position: absolute;bottom: 20px;padding-left: 280px;">Mobile: 97541-19991 , Email: cavijay1018@gmail.com</h5>
  </div>